@import '/src/assets/sass/abstracts/_variables.scss';

.admin-panel {
  background-color: $tdp-atom-tabs-label-background;
  min-height: 100%;
  display: flex;
  align-items: center;
}

.cards-wrapper {
  max-width: 76rem;
  margin: 1.5rem auto;
}

.centered-view {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem 1.75rem;
  justify-content: center;
}

title {
  font-size: 1em;
  text-transform: uppercase;
}

.tdp-disabled {
  pointer-events: none;
  opacity: 0.5;
}
