@import "/src/assets/sass/abstracts/variables";

tdp-modal {

  .tdp-system-log-detail-dialog-body {
    overflow-y: scroll;
    flex-grow: 1;
    margin: 0 -2.5rem;
    padding: 1.25rem 2.5rem;
    color: $navy;

    &-label {
      font-weight: 700;
    }

    &-message {
      margin-bottom: 1rem;
    }
  }
}
