@import '/src/assets/sass/abstracts/_variables.scss';

.tdp-home-page {
	// height: calc(100vh - #{$topbar-height});
	height: 100%;
	.tdp-home-width{
		width: 80% !important;
	}
	.tdp-home-content {
		width: 100%;
		.tdp-home-header {
			background-color: $light-grey;
			min-height: $header-height;
			align-items: center;
			justify-content: space-between;
			padding: 0 40px;
			min-width: 600px;
			.tdp-home-title {
				font-size: 24px;
				font-weight: bold;
				text-align: center;
				color: $navy;
				text-transform: uppercase;
			}
			.tdp-home-header-btn-group {
				justify-content: center;
				.tdp-primary-btn {
					padding-left: 28px;
					padding-right: 20px;
				}
				&.left {
					justify-content: flex-start;
				}
			}
		}
		.tdp-home-under-header {
			padding: 30px;
			flex-grow: 1;
			height: 0;
			.tdp-sort-label{
				float: left; 
				margin-top: 5px; 
				padding-right: 10px; 
				font-weight: bold;
			}
			.tdp-select-container-combo{
				width: 70%; 
				float: left
			}
			.tdp-select-icon-container{
				float: left;
				border: 1px solid #C8C8C8;
				width: 28px;
				height: 28px;
				align-items: center;
				margin-left: 2px;
			}
			.tdp-select-icon{
				padding: 2px
			}
			.tdp-home-list-container {
				display: flex;
				flex-direction: column;
				overflow-y: auto;
				min-width: 600px;
				padding: 5px 7px;
			}
			.tdp-home-over-list {
				justify-content: space-between;
				align-items: center;
				min-height: 70px;
				.tdp-home-sort-form {
					max-width: 200px;
					margin-right: 5px;
				}
			}
		}
	}
}
