::-webkit-scrollbar {
	width: $scroll-bar-size;
	height: $scroll-bar-size;
}

::-webkit-scrollbar-track-piece {
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
  	border-radius: 8px;
	background-color: #D3D3D3;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #979797;
}