.tdp-select-container {
  position: relative;
  width: 100%;
  max-height: 30px;
  i {
    cursor: pointer;
    position: absolute;
    right: 11px;
    top: 9px;
    color: $contemporary;
    font-size: 13px;
  }
}