<tdp-modal
  class="tdp-create-edit-role"
  [hasBodySeparator]="true"
  [closable]="true"
  (onClosed)="closeModal()"
>
  <div title class="tdp-create-edit-role__title">
    {{
      !role ? ("dialog.newRole" | translate) : ("dialog.editRole" | translate)
    }}
  </div>

  <div class="tdp-create-edit-role-body">
    <div class="assign-permissions-wrapper">
      <form [formGroup]="entityForm">
        <div class="tdp-create-edit-role-form__group">
          <tdp-input
            class="tdp-create-edit-role-form__input"
            formControlName="name"
            [ngClass]="{ 'error-message': checkHasErrorV2('name') }"
            [type]="'text'"
            [required]="true"
            [title]="'rolesPage.name' | translate"
          ></tdp-input>
          <div
            *ngIf="checkHasErrorV2('name', 'required')"
            class="tdp-form-error-message"
          >
            {{ "validationErrors.required" | translate }}
          </div>
          <div
            *ngIf="checkHasErrorV2('name', 'maxlength')"
            class="tdp-form-error-message"
          >
            {{
              "validationErrors.maxlength"
                | translate: { maxlength: planNameMaxLength }
            }}
          </div>
        </div>
      </form>
      <div class="assign-entities-wrapper">
        <tdp-assign-entities
          (changedLists)="onChangedLists($event)"
          [displayProperty]="permissionDisplayProperty"
          [assignedEntities]="permissionsAssigned"
          [availableEntities]="permissionsAvailable"
          [leftInputTitle]="leftInputTitle"
          [rightInputTitle]="rightInputTitle"
        >
        </tdp-assign-entities>
      </div>
    </div>
  </div>

  <div actions class="tdp-create-edit-role-buttons">
    <tdp-button
      [color]="'text-only'"
      [size]="'large'"
      [mat-dialog-close]
      (onClick)="closeModal()"
      >{{ "button.cancel" | translate }}</tdp-button
    >
    <tdp-button
      [color]="'green'"
      [size]="'large'"
      [disabled]="entityForm.invalid || (entityForm.pristine && !permissionsChanged)"
      (onClick)="submitRoleWithPermissions()"
    >
      {{ "button.save" | translate }}
    </tdp-button>
  </div>
</tdp-modal>
