.tdp-Aiep-details {
  .Aiep-details-header {
    margin-bottom: 2.5rem;
  }
}

.btn-text {
  font-family: 'Rooster';
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.125rem;
  font-size: 1rem;
  color: #28343d;
}

