<tdp-main-view>
  <div class="main-view--header">
    <tdp-filter-header [options]="options" [form]="form"></tdp-filter-header>
  </div>
</tdp-main-view>

<div class="tdp-areas-list-body">
  <div class="tdp-areas-list-header">
    <tdp-back-with-title
      class="tdp-areas-list-header--back-component"
      [title]="regionTitleString"
      (onClick)="goBack()"
    >
    </tdp-back-with-title>
  </div>

  <div class="tdp-areas-list-table">
    <ng-container *ngIf="areas">
      <tdp-table
        [records]="areas"
        [columnsConfiguration]="columnsConfiguration"
        [pageSize]="pageSize"
        [hasActions]="true"
        (onPageChanged)="pageChanged($event)"
        (onSortChanged)="sortChanged($event)"
      >
        <tdp-table-actions>
          <ng-template let-record="record">
            <tdp-table-action (click)="openEditArea($event, record)">
              <tdp-pencil-icon
                class="tdp-actions-icon"
                fillColor="#ADADAD"
                [matTooltip]="'button.edit' | translate"
              >
              </tdp-pencil-icon>
            </tdp-table-action>
            <tdp-table-action
              *ngIf="!record.AiepCount"
              (click)="removeArea($event, record)"
            >
              <tdp-trash-icon
                class="tdp-actions-icon"
                fillColor="#ADADAD"
                [matTooltip]="'button.remove' | translate"
              >
              </tdp-trash-icon>
            </tdp-table-action>
          </ng-template>
        </tdp-table-actions>
      </tdp-table>
    </ng-container>
  </div>
</div>

<tdp-create-button
  [text]="'button.createNewArea' | translate"
  (click)="openCreateArea()"
></tdp-create-button>

