<div class="plan-body">
  <div class="plan-details">
    <div class="plan-details-header">
      {{ "dialog.syncOfflinePlans.offlineId" | translate }}:
      {{ plan?.id_offline }}
    </div>
    <div class="plan-details-group">
      <div class="plan-details-sub-header-key">
        {{ "plan.Educationer" | translate }}
      </div>
      <div *ngIf="plan?.EducationerName" class="plan-details-sub-header-value">
        {{ plan?.EducationerName || ("builder.notApplicable" | translate) }}
      </div>
    </div>
    <form [formGroup]="entityForm">
      <div class="plan-details-group">
        <tdp-input
          [title]="'Plan Name'"
          [type]="'text'"
          class="tdp-plan-details-input"
          [ngClass]="{ 'error-message': checkHasErrorV2('planName') }"
          ngDefaultControl
          formControlName="planName"
        >
        </tdp-input>
        <div
          *ngIf="checkHasErrorV2('planName', 'required')"
          class="tdp-plan-form-offline-error"
        >
          {{ "validationErrors.required" | translate }}
        </div>
        <div
          *ngIf="checkHasErrorV2('planName', 'maxlength')"
          class="tdp-plan-form-offline-error"
        >
          {{
            "validationErrors.maxlength"
              | translate: { maxlength: planNameMaxLength }
          }}
        </div>
      </div>
      <div class="plan-details-group">
        <tdp-select
          formControlName="catalogueCode"
          ngDefaultControl
          [label]="catalogueTranslation"
          [options]="catalogs"
          (valueChange)="selectCatalogue($event)"
        >
        </tdp-select>
        <div
          *ngIf="checkHasErrorV2('catalogueCode', 'required')"
          class="tdp-plan-form-error"
        >
          {{ "validationErrors.required" | translate }}
        </div>
      </div>
      <div class="plan-details-group survey-group">
        <label class="plan-details-sub-header-key">{{
          "plan.survey" | translate
        }}</label>
        <mat-radio-group
          aria-labelledby="endUser"
          class="radio-group"
          formControlName="survey"
        >
          <mat-radio-button class="radio-button" [value]="true">
            {{ "booleanResponse.yes" | translate }}
          </mat-radio-button>
          <mat-radio-button class="radio-button" [value]="false">
            {{ "booleanResponse.no" | translate }}
          </mat-radio-button>
        </mat-radio-group>
      </div>
    </form>
  </div>
</div>
<div class="separator"></div>
<div class="plan-footer">
  <tdp-button
    [size]="'small'"
    [color]="'white'"
    (onClick)="onSubmitForm()"
    [disabled]="entityForm.invalid || !entityForm.dirty"
  >
    {{ "button.update" | translate }}
  </tdp-button>
</div>

