.tdp-molecules-project-container {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  flex-wrap: wrap;
  padding: 1.875rem 1.875rem;
  box-sizing: border-box;
  background-color: #f9f9f9;
  border-radius: 0.625rem;
  min-height: 6.25rem;
  max-height: 12.875rem;
  margin-bottom: 2.5rem;

  .unassigned-text {
    text-transform: uppercase;
  }
}
