<form class="tdp-row tdp-entity-form" [formGroup]="entityForm">
  <!-- First column (1/3) -->
  <div class="tdp-column tdp-builder-form-first-column">
    <!-- First row -->
    <div class="tdp-row">
      <!-- Trading Name -->
      <div class="tdp-form-group">
        <label  class="tdp-form-group-label">
          {{ 'builder.tradingName' | translate }}
          <div class="tdp-required-dot"></div>
        </label>
        <input
          [ngClass]="{ 'tdp-form-border-error': checkHasErrorV2('tradingName') }"
          type="text"
          formControlName="tradingName">
        <div *ngIf="checkHasErrorV2('tradingName', 'required')" class="tdp-form-error">
          {{ 'validationErrors.required' | translate }}
        </div>
      </div>
      <!-- Name -->
      <div class="tdp-form-group">
        <label class="tdp-form-group-label">
          {{ 'builder.name' | translate }}
        </label>
        <input type="text" formControlName="name">
      </div>
    </div>
    <!-- Text area row -->
    <div class="tdp-row">
      <div class="tdp-form-group">
        <label class="tdp-form-group-label">
            {{ 'builder.notes' | translate }}
        </label>
        <textarea
          [ngClass]="{ 'tdp-form-border-error': checkHasErrorV2('notes') }"
          rows=6
          class="tdp-row tdp-builder-form-textarea"
          placeholder="{{ 'builder.notesPlaceholder' | translate }}"
          formControlName="notes">
        </textarea>
        <div *ngIf="checkHasErrorV2('notes', 'maxlength')" class="tdp-form-error">
          {{ 'validationErrors.maxlength' | translate: {'maxlength': builderNotesMaxLength} }}
        </div>
      </div>
    </div>
  </div>
  <!-- Second column (2/3) -->
  <div class="tdp-column tdp-builder-form-second-column">
    <!-- First row -->
    <div class="tdp-row">
      <!-- Country selector only for France-->
      <div *ngIf="showCountrySelector">
        <div class="tdp-form-group">
          <label class="tdp-form-group-label">
            {{ 'builder.countrySelector' | translate}}
          </label>
          <tdp-selector-country
          [elementList]="countriesSelectionOptions" 
          [displayDefault]="displayDefault"
          (selectedCountryOption)="selectCountryOptionFunction($event)"
          formControlName="country">
          </tdp-selector-country>
        </div>      
      </div>
      <!-- Postcode -->
      <div [ngClass]="{ 'tdp-form-group': true, 'tdp-builder-form-postcode': selectedCountry }">
        <label class="tdp-form-group-label">
          {{ 'builder.postcode' | translate }}
          <div class="tdp-required-dot"></div>
        </label>
        <tdp-postcode
          [selectedCountry]="selectedCountry"
          [hasError]="checkHasErrorV2('postcode')"
          (selectedAddress)="onSelectedAddress($event)"
          formControlName="postcode">
        </tdp-postcode>
        <div *ngIf="checkHasErrorV2('postcode', 'required')" class="tdp-form-error">
          {{ 'validationErrors.required' | translate }}
        </div>
        <div *ngIf="checkHasErrorV2('postcode', 'invalidPostcode')" class="tdp-form-error">
          {{ 'validationErrors.invalidPostcode' | translate }}
        </div>
      </div>
      <!-- Address 1 -->
      <div [ngClass]="{ 'tdp-form-group': true, 'tdp-builder-form-address': selectedCountry }">
        <label class="tdp-form-group-label">
          {{ 'builder.address1' | translate }}
          <div class="tdp-required-dot"></div>
        </label>
        <tdp-postcode
        [selectedCountry]="selectedCountry"
        [postcode]="getPostcode()"
        isAddress1="true"
        [hasError]="checkHasErrorV2('address1')"
        (selectedAddress)="onSelectedAddress($event)"
        formControlName="address1">
      </tdp-postcode>
        <div *ngIf="checkHasErrorV2('address1', 'required')" class="tdp-form-error">
          {{ 'validationErrors.required' | translate }}
        </div>
      </div>
      <!-- Address 2 -->
      <div class="tdp-form-group">
        <label  class="tdp-form-group-label">
          {{ 'builder.address2' | translate }}
        </label>
        <input type="text" formControlName="address2">
      </div>
      <!-- Address 3 -->
      <div class="tdp-form-group">
        <label  class="tdp-form-group-label">
          {{ 'builder.address3' | translate }}
        </label>
        <input type="text" formControlName="address3">
      </div>
    </div>
    <!-- Second row -->
    <div class="tdp-row">
      <!-- Mobile Number -->
      <div class="tdp-form-group">
        <label class="tdp-form-group-label">
          {{ 'builder.mobileNumber' | translate }}
        </label>
        <input
          [ngClass]="{ 'tdp-form-border-error': checkHasErrorV2('mobileNumber') }"
          type="text"
          formControlName="mobileNumber">
          <div *ngIf="checkHasErrorV2('mobileNumber', 'maxlength')" class="tdp-form-error">
            {{ 'validationErrors.maxlength' | translate: {'maxlength': builderNumberMaxLength} }}
          </div>
      </div>
      <!-- Landline Number -->
      <div class="tdp-form-group">
        <label class="tdp-form-group-label">
          {{ 'builder.landlineNumber' | translate }}
        </label>
        <input
          [ngClass]="{ 'tdp-form-border-error': checkHasErrorV2('landLineNumber') }"
          type="text"
          formControlName="landLineNumber">
          <div *ngIf="checkHasErrorV2('landLineNumber', 'maxlength')" class="tdp-form-error">
            {{ 'validationErrors.maxlength' | translate: {'maxlength': builderNumberMaxLength} }}
          </div>
      </div>
    </div>
    <!-- Third row -->
    <div class="tdp-row">
      <!-- Email -->
      <div class="tdp-form-group">
        <label class="tdp-form-group-label">
          {{ 'builder.email' | translate }}
        </label>
        <input
          type="text"
          formControlName="email"
          [ngClass]="{ 'tdp-form-border-error': checkHasErrorV2('email') }">
        <div *ngIf="checkHasErrorV2('email', 'email')" class="tdp-form-error">
          {{ 'validationErrors.mustBeEmail' | translate }}
        </div>
      </div>
    </div>
  </div>
</form>
<!-- Button group -->
<div class="tdp-row tdp-entity-form-actions">
  <!-- Create -->
  <ng-container *ngIf="!builder; else editButtons">
    <button
      (click)="submitCancel()"
      class="tdp-secondary-btn">
        {{ 'button.cancel' | translate }}
      <i class="fas fa-times"></i>
    </button>
    <button
      [disabled]="!entityForm.valid"
      (click)="submitFormAssign()"
      class="tdp-primary-btn">
      {{ 'button.assignPlan' | translate }}
      <i class="fas fa-plus"></i>
    </button>
    <button
      [disabled]="!entityForm.valid"
      (click)="submitForm()"
      class="tdp-primary-btn">
      {{ 'button.createPlan' | translate }}
      <i class="fas fa-plus"></i>
    </button>
  </ng-container>
  <!-- Edit -->
  <ng-template #editButtons>
    <ng-container *ngIf="!hideEditButtons">
      <button
        *ngIf="!editing"
        class="tdp-secondary-btn"
        (click)="enableEdit()">
        {{ 'button.edit' | translate }}
        <i class="fas fa-pen"></i>
      </button>
      <button
        *ngIf="editing"
        (click)="cancelEdit(builder)"
        class="tdp-secondary-btn">
        {{ 'button.cancel' | translate }}
        <i class="fas fa-times"></i>
      </button>
      <button
        *ngIf="editing"
        [disabled]="!entityForm.valid"
        (click)="submitForm()"
        class="tdp-primary-btn">
        {{ 'button.save' | translate }}
        <i class="fas fa-plus"></i>
      </button>
    </ng-container>
  </ng-template>
</div>