@import "/src/assets/sass/abstracts/variables";

.plan-details-middle-container {
  border-radius: 0.625rem;
  border: 0.063rem solid $gray-89;
  margin-top: 1.25rem;

  &-text { 
    font-size: 0.938rem;
    line-height: 1.313rem;
    
    &-label {
      padding: 0.125rem 0 0.313rem 0.313rem;
      font-weight: 700;
    }
  }

  .plan-details-middle-container-error input.tdp-input{ 
    border: 0.125rem solid $error-red;
  }
  
  &-error-message { 
    margin-top: 0.563rem;
    color: $error-red;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.75rem;
    line-height: 1.313rem;
  }

  .plan-details-middle-container-top {
    padding: 1.875rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &-order {
      display: flex;
      justify-content: middle;
      align-items: flex-end;
      flex-direction: column;
    }

    &-details {
      display: flex;
      flex-direction: column;

      &-catalogue {
        font-size: 1.25rem;
        line-height: 1.875rem;
        font-weight: 700;
        padding-bottom: 1.25rem;
      }
    }
  }

  .plan-details-middle-container-bottom {
    padding: 1.875rem;
    padding-top: 0.313rem;
  }
}
