@import "/src/assets/sass/abstracts/variables";

.tdp-housing-type-plan-form {
  .error-message {
    ::ng-deep {
      input {
        outline: none;
      }
    }
  }

  ::ng-deep {
    .tdp-atoms-select {
      margin-bottom: 0;
    }
  }

  &-input {
    ::ng-deep {
      input {
        width: 100%;
      }
    }
  }

  &-container {
    height: 35px;

    &-error {
      margin-bottom: 0.5625rem;
      color: $error-red;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      font-size: 0.75rem;
      line-height: 1.3125rem;
    }
  }
}
