@import "/src/assets/sass/abstracts/variables";

.tdp-plan-form {
  .error-message {
    ::ng-deep {
      input {
        border: 2px solid $error-red !important;
        outline: none;
      }
    }
  }

  .first-input-row {
    display: flex;
    justify-content: space-between;
  }

  ::ng-deep  &-input {
    width: 49%;
  }

  ::ng-deep  &-first-select {
    width: 49%;
  }

  .radio-align {
    display: flex;
  }

  &-input {
    ::ng-deep {
      .tdp-input-container {
        margin-bottom: 20px;
      }

      input {
        width: 100%;
      }
    }
  }

  &-error {
      margin-bottom: 0.5625rem;
      color: $error-red;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 0.75rem;
      line-height: 1.3125rem;
  }

  &-radios {
    display: flex;
    flex-direction: column;
    margin-bottom: 18px;
    margin-right: 50px;
    font-size: 0.9375rem;

    label {
      margin-bottom: 7px;
      font-size: 15px;
      line-height: 21px;
      font-weight: 700;
    }

    .radio-button {
      margin-top: 10px;
      display: block;
      font-family: Rooster, 'Open Sans', serif;
    }

    .radio-group {
      display: flex;
      flex-direction: column;
    }
  }
}
