@import '/src/assets/sass/abstracts/_variables.scss';

.tdp-details-wrapper {
    color: $navy;
    width: 23.813rem;

    .details-tabs-wrapper {
        display: flex;
        justify-content: space-between;
    }

    .details-tab {
        width: 100%;
        height: 3.063rem;
        background-color: $white;
        box-sizing: border-box;
        border: 0.063rem solid $gray-89;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 700;
        font-size: 0.938rem;

        &.selected {
            width: 100%;
            height: 3.75rem;
            background-color: $very-light-grey;
            border-bottom: 0;
        }
    }

    .details-container-wrapper {
        background-color: $very-light-grey;
        border: 0.063rem solid $gray-89;
        border-bottom-left-radius: 0.625rem;
        border-bottom-right-radius: 0.625rem;
        padding: 2rem 2rem 0 2rem;

    }

    .details-container {
        min-height: 62.5rem;
        flex-direction: column;
        display: none;

        &.selected {
            display: flex;
        }
    }

    .separator {
        border-bottom: 1px solid #E3E3E3;
        margin-top: auto !important;
        width: calc(100% + 64px);
        margin-left: -2rem;
        margin-top: auto;
    }
    
    .plan-details {
        color: $navy;
    
        &-header {
            font-size: 20px;
            margin-bottom: 20px;
    
            &--title {
                font-weight: 700;
            }
        }
    
        &-group {
            margin-bottom: 20px;
            font-size: 15px;
            line-height: 21px;
    
            .plan-details-sub-header-key {
                font-weight: 700;
            }
        }
    
        .tdp-plan-details-input {
            ::ng-deep {
                input {
                    width: 315px;
                }
            }
        }
    
        .update-button {
            margin-top: 20px;
            letter-spacing: 2px;
        }
    }
    
    .plan-footer {
        min-height: 5.625rem;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 0.625rem;
        flex-wrap: wrap;
        padding: 0.625rem;
    }
}

